.beta-banner{
  color:white;
  background-color:#dd9914;
  text-align:center;
  border-bottom: 1px solid #FF9900;
  width:auto;
  font-size: 12px;
  height: 18px;
}

.navbar-margin {
  margin-bottom: 0;
}
